# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{xml,yml,fsproj}]
indent_size = 2

[*.{fs,fsx}]
indent_size = 4
fsharp_space_before_uppercase_invocation=true
fsharp_space_before_lowercase_invocation=true
fsharp_space_before_class_constructor=true
fsharp_space_before_member=true
fsharp_space_before_colon=true
fsharp_space_before_parameter=true
fsharp_maximum_line_length=200
fsharp_maximum_function_binding_width=200
fsharp_multiline_block_brackets_on_same_column=false
fsharp_newline_between_type_definition_and_members=true
fsharp_keep_if_then_in_same_line=true
fsharp_align_function_signature_to_indentation=true
fsharp_alternative_long_member_definitions=true
fsharp_disable_elmish_syntax=true
fsharp_multi_line_lambda_closing_newline=false
